.aboutContainer {
  background: #f1eade;
  width: 950px;
  margin: auto;
  margin-bottom: 30px;
}

.aboutTitle {
  text-align: center;
  font-size: 30px;
  color: #52463C;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin: 40px 350px 40px 350px;
  padding: 10px 10px 10px 10px;
  border: 5px #57493E solid;
}

.aboutText {
  color: #52463C;
  font-family: "Playfair Display", serif;
  margin: 40px 180px 40px 180px;
  padding: 0px 10px 0px 10px;
}

.aboutPictureCol {
  padding: 0;
}

.aboutDescription {
  font-size: 15px;
  color: #52463C;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 30px 10px 30px;
}



.aboutBreadImageLeft {
  margin: 0 0 0 5px;
  display: inline;
  width: 470px;
  border: 5px #f1eade solid;
}

.aboutBreadImageRight {
  margin: 0 5px 0 0;
  display: inline;
  width: 470px;
  border: 5px #f1eade solid;
}
