.websitename h1 {
  background: url("WebsiteLogo.png") no-repeat center;
  margin: auto;
  width: 32.5%;
  text-align: center;
  color: #3E2B1C;
  font-weight: 700;
  display: block;
  font-family: "Playfair Display", serif;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 300%;
}
