.websitename h1 {
  background: url("WebsiteLogo.png") no-repeat center;
  margin: auto;
  text-align: center;
  color: #3E2B1C;
  font-weight: 700;
  display: block;
  font-family: "Playfair Display", serif;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 300%;
}

.Headers {
  height:60px;
  width: 950px;
  margin: auto;
}
.headerRow{

}

.headerButtons {
  margin: 0;
  padding-left: 0;
  padding-right: 0;

}

.homeButton {

  margin: 19px 0 19px 0;
  width: 186px;
}
