button {
  text-align: center;
  display: inline-block;
  width: 115.2%;
  height: 65%;
  font-family: "Playfair Display";
  border: none;
  text-decoration: none;
  padding: 0.2rem 1.5rem;
  overflow: hidden;
  background-color: #f1eade;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: -15px;
}
