button {
  text-align: center;
  display: inline-block;
  color: rgb(51, 36, 24);
  width: 120%;
  height: 100%;
  font-family: "Playfair Display";
  border: none;
  text-decoration: none;
  padding: 0.2rem 1.5rem;
  overflow: hidden;
  background-color: #f1eade;
  margin-top: 5%;
  margin-bottom: 5%;
}
